.right{
	float:right;
	padding-right:12px;
}
.left{
	font-weight:bold;
	padding-left:12px;
}

/*does this break pseudo scrolling*/
.ui-content.jqm-content-with-header{
	height:100%;
}

.ui-input-search, div.ui-input-text {
margin: .5em .5em;
background-image: none;
position: relative;
}

.ui-li{
	border-color:#4d4d4d;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	margin-left:12px;
	margin-right:12px;
	text-shadow: none !important;
}

.ui-li.ui-last-child{
	border-bottom-width:0px;
}