<div jqm-page jqm-theme="a">
	<div jqm-header>
		<div style="width:100%" ng-click="$back()">
	      <img src="images/back.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;position:absolute;">
	    </div>
	      <div style="text-align:center;width:100%" ng-click="go('')">
	        <img src="images/home.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;">
	    </div>
	    <div class="ui-btn-right">
	    	<img src="images/help2.png"/>	
		</div>
	</div>
	<div jqm-theme="b" style="width:100%;font-size:22px;font-weight:lighter;text-align:center;">
		<div><img src="images/cc256.png"/></div>
		<div style="text-align:center;">A mobile app for</div>  
		<div style="font-weight:bold;">IBM Rational Team Concert </div>
		<!--div jqm-button jqm-theme="b" style="margin-left:40px;margin-right:40px;" ng-click="documentation()">Documentation</div-->
		<div style="height:20px;"><!--img style="width:100px" src="images/ReadyForRational.png"--></div>
		<div>ClearConcert is build ready</div>
		<div>for Enterprise Deployment</div>

		<div style="font-weight:bold;font-size:16px;padding-top:8px">&copy; ClearBlade 2013</div>
		<div style="padding-top:8px;padding-bottom:15px;">
			<ul jqm-listview jqm-theme="a">
				<li jqm-li-divider>Contact ClearBlade</li>
			</ul>
		</div>
		<div style="position:relative;padding-top:8px;margin-bottom:18px">
			<div style="float:left;width:50%">
				<div><img src="images/email.png"></img></div>
				<div style="font-size:16px;">sales@clearblade.com</div>
			</div>
			<div style="float:left;width:50%">
				<div><img src="images/phone.png"></img></div>
				<div style="font-size:16px;">(512)686-3037</div>
			</div>
		</div>
		<div>
			<span><img src="images/social/facebook.png"></img>
			</span>
			<span><img src="images/social/google.png"></img>
			</span>
			<span><img src="images/social/twitter.png"></img>
			</span>
			<span><img src="images/social/linkedin.png"></img>
			</span>
			<span><img src="images/social/rss.png"></img>
			</span>
		</div>
	</div>
</div>