<div jqm-page jqm-theme="a">
  <div jqm-header>
   <div class="backButton" ng-click="$back()">
      <img src="images/back.png" class="backButtonImage">
    </div>
      <div style="text-align:center;width:100%" ng-click="go('')">
        <img src="images/home.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;">
    </div>
  </div>
  <div jqm-theme="b">
    <div style=""  jqm-theme="a" jqm-textinput ng-model="projectFilter" placeholder="Filter Project Areas..."></div>
    <div style="height:12px;"></div>
    <div>
      <span jqm-li-divider>Project Areas ({{projects.length}})</span>
	    <ul jqm-listview jqm-theme="a">    
	      <li jqm-li-link jqm-theme="a" class="ui-icon-alt" ng-click="selectProject(project)" 
        ng-repeat="project in projects | filter:projectFilter">
	        <a>{{project.title}}</a>
	      </li>
	    </ul>
  </div>
</div>
