<div jqm-page jqm-theme="a">
  <div jqm-header>
   <div style="width:100%" ng-click="$back()">
      <img src="images/back.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;position:absolute;">
    </div>
      <div style="text-align:center;width:100%" ng-click="go('')">
        <img src="images/home.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;">
    </div>
  </div>
  <div jqm-theme="b">
  	<div class="subSection">
			<div class="subTitle">Build Label</div>
			<div class="subEntry">{{resultDetail.label}}</div>
		</div>
		<div class="subSection">
			<div class="subTitle">Requestor</div>
			<div class="subEntry">{{resultDetail.creator}}</div>
		</div>
		<div class="subSection">
			<div class="subTitle">Definition</div>
			<div class="subEntry">{{resultDetail.definition}}</div>
		</div>
		<div class="subSection">
			<div class="subTitle">Started at:</div>
			<div class="subEntry">{{resultDetail.start}}</div>
		</div>
		<div class="subSection">
			<div class="subTitle">Ended at:</div>
			<div class="subEntry">{{resultDetail.end}}</div>
		</div>
	  
	  <div>
	  	<ul jqm-listview style="padding-top:12px;">
      
	      <li jqm-li-divider>Logs ({{resultDetail.logs.length}})</li>
	      <li jqm-li-link jqm-theme="a" class="ui-icon-alt" ng-click="selectProject(project)" ng-repeat="log in resultDetail.logs">
	        <a>{{log.filename}}{{log.filesize}}</a>
	      </li>
    	</ul>
    </div>
  </div>
</div>
