<div jqm-page jqm-theme="a">
	<div jqm-header>
		<div style="width:100%" ng-click="$back()">
			<img src="images/back.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;position:absolute;">
		</div>
		<h1>Repository</h1>
	</div>
	<div jqm-textinput ng-model="repositoryUrl" placeholder="Repository Url" type="">
	</div>
	<ul jqm-listview>
		<li jqm-li-entry>
			<div class="ui-grid-a">
				<div class="ui-block-a subTitle">
					Allow untrusted
				</div>
				<div class="ui-block-b" style="text-align:right;">
					<div jqm-flip mini="true" ng-model="allowUntrusted"></div>
				</div>
			</div>
			
		</li>
	</ul>
	<a style="margin:40px" jqm-theme="b" jqm-button ng-click="onRepositoryDone(repositoryUrl, allowUntrusted)">Continue ></a>
	
</div>