<div jqm-page jqm-theme="a">
	<div jqm-header>
		<a class="ui-btn ui-btn-up-c ui-btn-left ui-btn-corner-all" ng-click="$back()">
      <span class="ui-btn-inner">
        <span class="ui-btn-text"><</span>
      </span>
    </a>
		<h1>Repository</h1>
	</div>
	<div jqm-textinput ng-model="repositoryUrl" placeholder="Repository Url" type="">
	</div>
	<ul jqm-listview>
		<li jqm-li-entry>
			<div>Allow untrusted</div>
			<div jqm-flip mini="true" ng-model="allowUntrusted"></div>
		</li>
	</ul>
	<a style="margin:40px" jqm-button ng-click="onRepositoryDone(repositoryUrl, allowUntrusted)">Continue ></a>
	
</div>