<div jqm-page jqm-theme="a">
	<div jqm-header>
		<a class="ui-btn ui-btn-left ui-btn-icon-left ui-btn-corner-all" ng-click="$back()">
			<span class="ui-btn-inner">
				<span class="ui-btn-text">Back</span>
				<span class="ui-icon"><</span>
			</span>
		</a>
		<h1>Repository</h1>
	</div>
	<div jqm-textinput ng-model="repositoryUrl" type="">
	</div>
	<div class="ui-grid-a">
					<div class="ui-block-a">
						Allow untrusted 
					</div>
					<div class="ui-block-b">
						<div jqm-flip mini="true" ng-model="allowUntrusted">
						</div>
					</div>
				</div>
	<button ng-click="onRepositoryDone(repositoryUrl)">Continue ></button>
</div>