<div jqm-page jqm-theme="a">
	<div jqm-header>
		<div style="width:100%" ng-click="$back()">
			<img src="images/back.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;position:absolute;">
		</div>
		<h1>Credentials</h1>
	</div>
	<div jqm-textinput autocorrect="off" autocapitalize="off" autocorrect="off" autocapitalize="off" ng-model="username" placeholder="Username" type="">
	</div>
	<div jqm-textinput ng-model="password" placeholder="Password" type="password">
	</div>
	<a jqm-button jqm-theme="b" style="margin:40px" ng-click="onCredentialDone(repository, username, password, allowUntrusted)">Sign in to {{repository}}</a>
</div>
