<div jqm-page jqm-theme="a">
	<div jqm-header>
		<a class="ui-btn ui-btn-up-c ui-btn-left ui-btn-corner-all" ng-click="$back()">
      <span class="ui-btn-inner">
        <span class="ui-btn-text"><</span>
      </span>
    </a>
		<h1>Credentials</h1>
	</div>
	<div jqm-textinput autocorrect="off" autocapitalize="off" autocorrect="off" autocapitalize="off" ng-model="username" placeholder="Username" type="">
	</div>
	<div jqm-textinput ng-model="password" placeholder="Password" type="password">
	</div>
	<a jqm-button style="margin:40px" ng-click="onCredentialDone(repository, username, password, allowUntrusted)">Sign in to {{repository}}</a>
</div>
