<div ng-controller="OptionsCtrl">
	<div>ClearConcert</div>

	<div>
		<ul jqm-listview>
			
			<li jqm-li-entry>&nbsp;</li>
			<li jqm-li-link ng-click="go('')">Home</li>
			<li jqm-li-link ng-click="go('create-workitem')">Create Item</li>
			<li jqm-li-link ng-click="go('search')">Search</li>
			<li  jqm-li-link ng-click="go('query')">Queries</li>
			<li jqm-li-link ng-click="go('build')">Builds</li>
			<li jqm-li-link ng-click="go('settings')">Settings</li>
			<li jqm-li-link ng-click="go('about')">About</li>
			<li jqm-li-link ng-click="go('problem')">Report a problem</li>
			<li jqm-li-link ng-click="logout()">Logout</li>
		</ul>
	</div>

	

</div>
