<div ng-controller="OptionsCtrl">
	<div>ClearConcert</div>
	<br>
	<div style="font-size:16px;font-weight:lighter;">
		<ul jqm-listview>
			
			<li jqm-li-entry ng-click="go('create-workitem')"><img src="images/panelCreate.png">Create Item</li>
			<li jqm-li-entry ng-click="go('search')"><img src="images/panelSearch.png" style="width:24px;height:24px;">Search</li>
			<li  jqm-li-entry ng-click="go('query')"><img src="images/panelQueries.png">Queries</li>
			<li jqm-li-entry ng-click="go('build')"><img src="images/panelBuilds.png">Builds</li>
			<li jqm-li-entry ng-click="go('settings')"><img src="images/panelSettings.png">Settings</li>
			<li jqm-li-entry ng-click="go('about')">About</li>
			<li jqm-li-entry ng-click="go('problem')">Report a problem</li>
			<li jqm-li-entry ng-click="logout()">Logout</li>
		</ul>
	</div>

	

</div>
