<div jqm-page jqm-theme="a">
  <div jqm-header>
    <div class="backButton" ng-click="$back()">
      <img src="images/back.png" class="backButtonImage">
    </div>
      <div style="text-align:center;width:100%" ng-click="go('')">
        <img src="images/home.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;">
    </div>
  </div>
  <div jqm-theme="b">
    <div style=""  jqm-textinput ng-model="resultFilterInput" placeholder="Filter Builds..."></div>
    <div style="height:12px;"></div>
    <div>
	    <ul jqm-listview style="">
	      
	      <li jqm-li-divider>builds ({{projBuilds.length}})</li>
	      <li jqm-li-link jqm-theme="a" class="ui-icon-alt" ng-click="selectBuild(build)" ng-repeat="build in filterBuilds(projBuilds)">
	        <a>{{build.title}}</a>
			<a>{{build.description}}</a>
	      </li>
	    </ul>
  </div>
</div>
