<div jqm-page jqm-theme="a">
  <div jqm-header>
    <a class="ui-btn-left" ng-click="$back()">
      <span class="ui-btn-inner">
        <span class="ui-btn-text"><</span>
      </span>
    </a>
    <h1>Builds</h1>
  </div>
  <div jqm-theme="b">
    <div style=""  jqm-textinput ng-model="resultFilterInput" placeholder="Filter Builds..."></div>
    <div style="height:12px;"></div>
    <div>
	    <ul jqm-listview style="">
	      
	      <li jqm-li-divider>builds ({{projBuilds.length}})</li>
	      <li jqm-li-link jqm-theme="b" class="ui-icon-alt" ng-click="selectBuild(build)" ng-repeat="build in filterBuilds(projBuilds)">
	        <a>{{build.title}}</a>
			<a>{{build.description}}</a>
	      </li>
	    </ul>
  </div>
</div>
