<div jqm-page jqm-theme="a">
  <div jqm-header>
   <div style="width:100%" ng-click="$back()">
      <img src="images/back.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;position:absolute;">
    </div>
      <div style="text-align:center;width:100%" ng-click="go('')">
        <img src="images/home.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;">
    </div>
  </div>
  <div jqm-theme="b">
    <div jqm-theme="a" style="margin:8px" jqm-textinput ng-model="queryResultsFilter" placeholder="Filter Queries..."></div>

    <ul jqm-listview style="padding-top:12px;">
    	
      <li jqm-li-divider>{{projectTitle}}</li>
      <li jqm-li-link jqm-theme="a" class="ui-icon-alt" ng-repeat="query in queries | filter: queryResultsFilter" 
      ng-click="selectQuery(query)">
       {{query.title}}
      </li>
      <li ng-show="query.noResults" jqm-li-entry class="right no-result-text">
         No Results
      </li>
    </ul>
  </div>
</div>

