<div jqm-page jqm-theme="a">
  <div jqm-header>
    <a class="ui-btn ui-btn-up-c ui-btn-left ui-btn-corner-all" ng-click="$back()">
      <span class="ui-btn-inner">
        <span class="ui-btn-text"><</span>
      </span>
    </a>
    <h1>Queries</h1>
  </div>
  <div jqm-theme="b">
    <div style="margin:8px"  jqm-textinput ng-model="resultFilterInput" placeholder="Filter Project Areas..."></div>

    <ul jqm-listview style="padding-top:12px;">
      
      <li jqm-li-divider>Project Areas ({{projects().length}})</li>
      <li jqm-li-entry ng-click="selectProject(project)" ng-repeat="project in filterQueries(projects())">
        <a>{{project.title}}</a>
      </li>
    </ul>
  </div>
</div>

