<div jqm-page jqm-theme="a">
	<div jqm-header>
		<div class="backButton" ng-click="$back()">
      <img src="images/back.png" class="backButtonImage">
    </div>
      <div style="text-align:center;width:100%" ng-click="go('')">
        <img src="images/home.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;">
    </div>
	</div>
	<div  style="padding-top:8px">
    <div jqm-textinput ng-model="criteria" placeholder="Phrase or work item ID" type="">
      </div>
      <a jqm-button jqm-theme="b" style="margin-left:40px;margin-right:40px" ng-click="searchPressed(criteria)">Search</a>
    <div style="height:20px"></div>
		<div jqm-theme="b">

  		<ul jqm-listview jqm-theme="a">
  			<li jqm-li-divider>Advanced Filters</li>
  			<li jqm-li-entry>
  				<div class="ui-grid-a">
  					<div class="ui-block-a">
  						Tags
  					</div>
  					<div class="ui-block-b" style="text-align:right">
  						<div jqm-flip mini="true" ng-model="search.includeTags">
  						</div>
  					</div>
  				</div>
  			</li>
  			<li jqm-li-entry>
  				<div class="ui-grid-a">
  					<div class="ui-block-a">
  						Keywords 
  					</div>
  					<div class="ui-block-b" style="text-align:right">
  						<div jqm-flip mini="true" ng-model="search.includeKeywords">
  						</div>
  					</div>
  				</div>
  			</li>
  			
  		</ul>
      <ul jqm-listview style="padding-top:12px;">
      
        <li jqm-li-divider>Project Areas ({{projects().length}})</li>
        <li jqm-li-entry jqm-theme="b" class="ui-icon-alt" ng-repeat="project in projects()">
          
          <div class="ui-grid-a">
            <div class="ui-block-a">
              <a>{{project.title}}</a>
            </div>
            <div class="ui-block-b" style="text-align:right">
              <div jqm-flip mini="true" ng-model="project.include" >
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
