<div jqm-page jqm-theme="a">
  <header-bar></header-bar>
  <!-- <div jqm-header>
    <div>
        <img ng-click="$back()" src="images/back.png"
             style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;position:absolute;">
    </div>
    <div style="text-align:center">
        <img ng-click="go('')" src="images/home.png"
             style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;">
    </div>
    <div class="ui-btn-right"></div>
   </div> -->
    
  <div jqm-theme="b">
    <ul jqm-listview class="full">
      <li jqm-li-entry ng-show="moreLoading.active();">
        <p style="text-align: center;">
            <i class="icon-spin icon-refresh"></i>
            Searching {{resolvedCount}}/{{requestCount}} Project Areas
        </p>
      </li>
    </ul>
  </div>
  <div jqm-theme="b">
    <ul jqm-listview>
      <li jqm-li-divider>Results for '{{query}}' by project:</li>
      
      <li jqm-li-link jqm-theme="a" class="pair ui-icon-alt" ng-repeat="result in results" ng-click="resultPressed(result)">
        <a style="max-width:75%; padding-right:25%;">{{result.project.title}}</a>
        <span class="right">({{result.total}})</span>
      </li>
    </ul>
    
  </div>
</div>




