
<div jqm-page jqm-theme="a">
	<div jqm-header>
		<div style="width:100%" ng-click="$back()">
			<img src="images/back.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;position:absolute;">
		</div>
    	<div style="text-align:center;width:100%">
			<img src="images/home.png" style="width:24px;height:24px;margin-top:6px;margin-bottom:8px;">
		</div>
	</div>
	<div  jqm-theme="a" style="padding-top:8px">
		<div class="subSection">
			<div class="subTitle">Repository</div>
			<div class="subEntry">{{repository}}</div>
		</div>
		<div class="subSection">
			<div class="subTitle">Username</div>
			<div class="subEntry">{{username}}</div>
		</div>
		<ul jqm-listview jqm-theme="a">
			<li jqm-li-entry>
				<div class="ui-grid-a">
  					<div class="ui-block-a subTitle">
  						Show Errors 
  					</div>
  					<div class="ui-block-b" style="text-align:right">
  						<div jqm-flip mini="false" ng-model="allowUntrusted">
  						</div>
  					</div>
  				</div>
			</li>

		</ul>
		<div style="height:80px;"></div>
		<div jqm-button jqm-theme="b" style="margin-left:40px;margin-right:40px;" ng-click="problem()">Report a bug</div>
		
	</div>

</div>


