
<div jqm-page jqm-theme="a">
	<div jqm-header>
		<a class="ui-btn ui-btn-up-c ui-btn-left ui-btn-corner-all" ng-click="$back()">
      <span class="ui-btn-inner">
        <span class="ui-btn-text"><</span>
      </span>
    </a>
		<h1>Settings</h1>
	</div>
	<div  jqm-theme="a" style="padding-top:8px">

		<ul jqm-listview jqm-theme="a">
			<li jqm-li-entry jqm-theme="a">Repository
				<span class="right" style="right:0px;max-width:62%;">{{repository}}</span>
			</li>
			<li jqm-li-entry>Username
				<span class="right" style="max-width:62%;">{{username}}</span>
			</li>
			<li jqm-li-entry>Show Exceptions</li>
		</ul>
		<div style="height:80px;"></div>
		<div jqm-button style="margin-left:40px;margin-right:40px;" ng-click="logout()">Log out</div>
		<div ng-click="onRepositoryDone(repositoryUrl)">Report a Bug</div>
		<ul jqm-listview>
			<li jqm-li-entry>About ClearConcert</li>
		</ul>
	</div>

</div>


