<div jqm-page jqm-theme="a">

	

	<div class="splash" style="position:relative;width:100%;height:100%">
		
		<div class="splash-image" style="background-image: url(images/cc256.png);"></div>
		<div class="splash-text">
			Welcome to <br><div style="font-size:36px;">ClearConcert</div>
		</div>
		<!-- <div style="text-align:center;"><img src="images/cc256.png"/></div> -->
		<div style="position:absolute;bottom:0px;width:100%">
			
			<a style="margin-left:40px;margin-right:40px" jqm-theme="b" jqm-button ng-click="go('login-repository')">New Repository</a>
			<a style="margin-left:40px;margin-right:40px" jqm-button jqm-theme="b" ng-click="go('login-recent')">Recent Repositories</a>
		</div>
	</div>
	<!--
	<button>Login into recent Repository</button>
	<a class="ui-btn" href="#/login-repository">
		<div class="ui-btn-inner">
			<div class="ui-btn-text">
				Login into new Repository
			</div>
		</div>
	</a>
-->
</div>
