<div jqm-page jqm-theme="a">
	<div jqm-header>
		<h1>ClearConcert</h1>
	</div>

	<a style="margin:40px" jqm-button ng-click="go('login-recent')">Login into recent Repository</a>
	<a style="margin:40px" jqm-button ng-click="go('login-repository')">Login into new Repository</a>
	<!--
	<button>Login into recent Repository</button>
	<a class="ui-btn" href="#/login-repository">
		<div class="ui-btn-inner">
			<div class="ui-btn-text">
				Login into new Repository
			</div>
		</div>
	</a>
-->
</div>
