<p style="font-size: 14px; text-align: center;">
  Fill in all fields and press 'Create' to submit a new work item.
</p>
<div class="list-group">
  <ul jqm-listview ng-click="edit('Summary')">
    <li jqm-li-entry>
      <a><img src="images/book.png"> Summary</a>
    </li>
    <li jqm-li-entry ><p>{{item['dc:title']}}</p></li>  
  </ul>
</div>
<div class="list-group">
  <ul jqm-listview>
    <li jqm-li-entry ng-click="edit('Type')">
      <a><img ng-src="{{itemType['rtc_cm:iconUrl']}}"> Type</a>
      <span class="right" ng-bind="itemType['dc:title']"></span>
    </li>
    <li jqm-li-entry  ng-click="edit('Project Area')" >
      <a><img src="images/projectArea.gif"> Project Area</a>
      <span class="right">{{projectArea.title}}</span>
    </li>
    <li jqm-li-entry  ng-click="edit('Filed Against')" >
      <a><img src="images/database_table.png"> Filed Against</a>
      <span class="right">{{filedAgainst['dc:title']}}</span>
    </li>
  </ul>
</div>
<div class="list-group">
  <ul jqm-listview ng-click="edit('Description')">
    <li jqm-li-entry><a><img src="images/book.png"> Description</a></li>
    <li jqm-li-entry><p ng-bind-html-unsafe="item['dc:description'] | ellipsis:300"></p></li>
  </ul>
</div>
