<!--
<div class="toolbar">
  <a class="btn btn-toolbar" ng-tap="cancelEdit()">Cancel</a>
  <h1>{{editProperty}}</h1>
  <a class="btn btn-toolbar right" ng-tap="saveEdit()">{{ isNew() && "Done" || "Save" }} </a>
</div>
<div class="page full with-toolbar scroll">
  <ng-include src="'template/edit/' + editProperty + '.html'"></ng-include>
</div>
-->

<div jqm-page jqm-theme="a">
	<div jqm-header>
		<div style="font-size:16px;font-weight:lighter;color:black;padding:10px;text-shadow:none;" class="backButton" ng-click="$back()">
      		Cancel
    	</div>
      	<div style="font-size:16px;font-weight:lighter;color:black;padding:10px;text-shadow:none;" class="ui-btn-right" ng-click="saveEdit()">	
			Save
		</div>
		<h1>{{editProperty}}</h1>
	</div>

	<ng-include src="'template/edit/' + editProperty + '.html'"></ng-include>

</div>